.stApp {
    background-color: #F4F7FC;
}

.block-container {
    padding-top: 1rem;
}

div[data-testid="metric-container"] {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

.stButton > button {
    width: 100%;
    background-color: #1565C0;
    color: white;
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
    border: none;
}

.stButton > button:hover {
    background-color: #0D47A1;
}
.stApp {
    background-color: #F4F7FC;
}

div[data-testid="metric-container"] {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,.08);
}

.stButton > button {
    width: 100%;
    background-color: #1565C0;
    color: white;
    border-radius: 10px;
    height: 50px;
    border: none;
}